<div class="row">
  <div class="col-md-12 container">
    <h2><%= @page.url %></h2>
    <p>changed on <%= @page.previous_crawl.created_at %></p>
  </div>
</div>

<% @page.audit.changed_selectors.each do |selector| %>
  <div class="row">
    <div class="col-md-12 container">
      <h4><%= selector.path %></h4>
      <div class="col-md-6">
        <div class="tile">
          <h3 class="tile-title">Previous</h3>
          <div><%= @page.audit.html_body.css(selector.path) %></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tile">
          <h3 class="tile-title">Current State</h3>
          <div><%= @page.audit.compare_html_body.css(selector.path) %></div>
        </div>
      </div>
    </div>
  </div>
<% end %>